<a href="https://colab.research.google.com/github/kenmanongsong/kenmanongsong/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
x = 2
y= 5

if x>y:
  print ("five is greater than 2")

Python Comments

In [ ]:
#This is a comment

print ("Hello World")

Hello World

Variable Naming Conventions

In [ ]:
x= 1
a, b= 0, -1
a, b, c = 0, -1, 2
print (c)
print (-1)

2
-1

Python Variable

In [ ]:
z = 1
a, b = 0, -1
print (a)
print (b)
print (z)

0
-1
1

Casting

In [ ]:
b = "sally"
b = int(4)
print (b)
b = float (4)
print (b)

4
4.0

In [ ]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

Function()

In [ ]:
x = 5
y = 'John'
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

Case Sensitive

In [ ]:
a = '4'
A = "Sally"
print (a)
print (A)

4
Sally

Output Variable

In [ ]:
x = "enjoying"
print ("Python Programming is" + " " + x)

Python Programming is enjoying

Arithmetic Operations

In [ ]:

x = 10
y = 3
#Exponentiation
x**2
#Division
x/y
#Floor division
x//y
#Modulo
x%y

1

Assignment Operator

8

In [ ]:
# prompt: arithmetic operation table

x = 10
y = 3

# Exponentiation
print("Exponentiation (x**2):", x**2)

# Division
print("Division (x/y):", x/y)

# Floor division
print("Floor Division (x//y):", x//y)

# Modulo
print("Modulo (x%y):", x%y)

# Addition
print("Addition (x + y):", x + y)

# Subtraction
print("Subtraction (x - y):", x - y)

# Multiplication
print("Multiplication (x * y):", x * y)

Logical Operator

In [ ]:
x = 5
y = 2
not (x>y)

False

Bitwise Operator

In [ ]:
#decimal to binary
#10 = 1010

x = 10
x>>1

5

Application 1

In [ ]:
#Application 1
#Rectangle
#Triangle
#Circle

length = 3
width = 4
result = int(x) * int(y)
print ("The area of the rectangle is",result)

buttom_base = 3
height = 5
result = 0.5 * buttom_base * height
print ("The area of the triangle is",result)

pi = 3.1416
radius = 4
result = pi  * radius * radius
print ("The area of the circle is",result)

The area of the rectangle is 12
The area of the triangle is 7.5
The area of the circle is 50.2656